@use '@angular/material' as mat;
@use 'theme-colors';

html {
  color-scheme: light;

  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
      ),
      typography: (
        plain-family: (
          system-ui,
          -apple-system,
          'Segoe UI',
          Roboto,
          'Helvetica Neue',
          sans-serif,
        ),
        brand-family: (
          system-ui,
          -apple-system,
          'Segoe UI',
          Roboto,
          'Helvetica Neue',
          sans-serif,
        ),
      ),
      density: 0,
    )
  );
}
